.title {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  white-space: nowrap;
}
.fieldset,
.inputTypetext {
  display: flex;
  justify-content: flex-start;
}
.inputTypetext {
  border: 1px solid var(--color-gray-200);
  outline: 0;
  background-color: var(--white);
  border-radius: var(--br-11xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-11xl) var(--padding-5xs)
    var(--padding-6xs);
  font-family: var(--dark-neg-ui-11-medium);
  font-size: var(--dark-neg-ui-11-medium-size);
  color: var(--figma-plugin-ds-dark);
}
.fieldset {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.labelFortype {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  white-space: nowrap;
}
.select {
  align-self: stretch;
  height: 32px;
  font-family: var(--dark-neg-ui-11-medium);
  font-size: var(--dark-neg-ui-11-medium-size);
  color: var(--black-8);
}
.fieldset1,
.sectiondatasourceinfo {
  display: flex;
  justify-content: flex-start;
}
.fieldset1 {
  width: 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.sectiondatasourceinfo {
  background-color: var(--white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--dark-neg-ui-11-medium-size);
  color: var(--black-3);
  font-family: var(--dark-neg-ui-11-medium);
}
